#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# NetBeans
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/public/assets/img/recipes/1751693933_6d60e24a7fd793af395e.jpg
/public/assets/img/recipes/1751793988_dca104d9c3aef6859882.jpg
/public/assets/img/recipes/1751794371_6057ccc1496093f75c92.jpg
/public/assets/img/recipes/1751851932_9f95b6b759e46771eaa1.jpg
/public/assets/img/recipes/1751852022_3329d9db5bbf101893b8.jpg
/public/assets/img/recipes/1751871121_938aa43515f36057ea44.jpg
/public/assets/img/recipes/1751871314_a7e015424df80826ad52.jpg
/public/assets/img/recipes/1751871428_1527f76d55fab8ef40a6.jpg
/public/assets/img/recipes/1751871452_1953bf7290f9f3720993.jpg
/public/assets/img/recipes/1751871597_614dcdc80b59cd155609.jpg
/public/assets/img/recipes/1751871795_20acb42cdb222604ff54.jpg
/public/assets/img/recipes/1751872986_1bfe67586519effe71bc.jpg
/public/assets/img/recipes/1752707824_868020d04b36dff56116.jpeg
/public/assets/img/recipes/1752708014_c378609f0f1affaacb09.jpg
/public/assets/img/recipes/1752708042_37fb5fca376842b72a1e.png
/public/assets/img/recipes/1752708082_50e546c35c5317f0ec9d.png
/public/assets/img/recipes/1752712278_ab55fa49fc466fe69ef4.jpg
/public/assets/img/recipes/1752712331_dcf48b206aafbd06574b.jpg
