.recipe-dropzone {
    border: 2px dashed #ccc;
    background: #fafafa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.container-nutritional-information {
    border: 2px solid #ccc;
    padding: 20px;
    background: #fafafa;
}

.container-ingredients,
.container-instructions {
    padding: 10px 20px;
    margin-bottom: 2rem;
}

.truncated-description p {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}