@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif+JP:wght@200..900&display=swap');

:root {
    --text-color: #241F1F;
    --link-color: #07706D;
    --primary-color: #C1151A;
    --info-color: #6615C1;
    --success-color: #3E7007;
    --danger-color: #820A0E;
}

html {
    overflow-x: hidden;
}

/* Font styles */
.kalam {
    font-family: 'Kalam', sans-serif;
}

.dancing-script {
    font-family: 'Dancing Script', cursive;
}

.noto-serif-jp {
    font-family: 'Noto Serif JP', serif;
}

/* Main banner */
.main-banner {
    /* background: linear-gradient(to left,#efa65f,#f76a2d); */
    background: linear-gradient(to left, #efa65fbf, #f76a2de6);
    line-height: 1rem;
}

.main-banner-alternative {
    background: white;
    color: var(--primary-color);
    line-height: 1rem;
}

/* Navbar styles */
.navbar-brand-desktop {
    width: 8rem;
    height: 4rem;
    max-height: none;
    top: -2rem;
}

.navbar-brand-mobile {
    width: 8rem;
    height: 4rem;
    max-height: none;
}

/* General styles */
.season_img,
.recent_img,
.section_img,
.video_img,
.healthy_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.season_img:hover,
.recent_img:hover,
.section_img:hover,
.video_img:hover,
.healthy_img:hover,
.category_img:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
}

/* Styles for season recipes */
.season_img {
    height: 300px;
}

.season_title {
    min-height: 40px;
}

/* Styles for recents recipes */

.recent_img {
    height: 250px;
}

.recents_difficulty {
    font-size: .8rem;
    text-transform: uppercase;
}

.recents_content-information {
    align-items: center;
    display: flex;
    gap: .1rem;
    justify-content: center;
}

.recents_author_name {
    font-size: .8rem;
}

.recents_calories {
    font-size: .8rem;
}

.recents_img_avatar {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}

.recents_icon_calories {
    width: 1.5rem;
}

/* Styles for Chef sidebar */
.chef_sidebar_title {
    font-family: 'Noto Serif JP', serif;
    font-size: 1.9375rem;
}

@media screen and (min-width: 768px) {
    .chef_sidebar_title {
        font-size: 1.3rem;
    }
}

/* Styles for popular recipes */
.section_title {
    font-size: 3.125rem;
}

@media screen and (min-width: 768px) {
    .section_title {
        font-size: 2rem;
    }
}

.section_img {
    height: 150px;
}

@media screen and (min-width: 768px) {
    .section_content_stars {
        font-size: .8rem;
    }

    .section_recipe_title {
        font-size: .8rem;
    }
}

.star-selected {
    color: #f00b11;
}

.footer_social_icons {
    color: #869ab8;
}

.footer_social_icons:hover {
    transition: all .5s;
    color: #f00b11;
}

.footer_copy {
    font-size: .8rem;
}

/* Styles for Healthy */
.healthy_img {
    height: 210px;
}

.healthy_difficulty {
    font-size: .8rem;
    text-transform: uppercase;
}

.healthy_title {
    min-height: 51px;
}

.healthy_content-information {
    align-items: center;
    display: flex;
    gap: .1rem;
    justify-content: center;
}

.healthy_author_name {
    font-size: .8rem;
}

.healthy_calories {
    font-size: .8rem;
}

.healthy_img_avatar {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}

.healthy_icon_calories {
    width: 1.5rem;
}


/* Styles for videos */
.video_img {
    height: 222px;
}

@media screen and (min-width: 768px) {
    .video_img {
        height: 310px;
    }
}

.video_title {
    min-height: 3rem;
}

.video_link {
    text-align: end;
}

.video_icon {
    font-size: .85rem;
}

.video_img_small {
    height: 222px;
}

@media screen and (min-width: 768px) {
    .video_img_small {
        height: 160px;
    }
}

.card_videos:hover .video_title {
    text-decoration: underline;
}

/* Form validation */
.error-message {
    color: #f00b11;
    font-size: .8rem;
}

/* Screen loading */
.loading-screen {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.loading-screen.active {
    display: flex;
    /* Mostrar cuando esté activo */
    flex-direction: column;
    row-gap: 1rem;
}

body.loading {
    overflow: hidden;
}

.logo-loader {
    width: 200px;
    height: 100px;
}

/* Styles for single recipe */
.recipe_author_content {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
    align-items: center;
}

.recipe_author_img {
    height: 16px;
    width: 16px;
    margin-bottom: 1px;
}

.recipe_created_content {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
    align-items: baseline;
}

.recipe_created_content .fe-calendar {
    color: #f00b11;
}

.recipe_score_content .star {
    color: gray;
    cursor: pointer;
}

.recipe_score_content .star.selected,
.recipe_score_content .star.hover,
.recipe_score_content .star:hover {
    color: #f00b11;
}

.recipe_score_content .star:hover~.star {
    color: gray;
}

.recipe_score_content .star-selected {
    color: #f00b11;
}

.recipe_raiting_content {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
    align-items: baseline;
}

.recipe_revelant_content {
    padding: 1rem;
    margin-top: .75rem;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: 0 .125rem .25rem rgba(22, 28, 45, .075);
}

.recipe_revelant_content div {
    text-align: initial;
    margin-bottom: 1rem;
}

/* Styles for carousel */
.carousel__text {
    text-align: center;
    position: absolute;
    bottom: -2.2rem;
    color: var(--text-color);
    font-size: 1.2rem;
    font-family: var(--bs-body-font-family);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

@media (min-width: 992px) {
    .carousel__text {
        font-size: 1.8rem;
        bottom: -2.1rem;
    }
}

/* Styles for social media */
.bg-facebook {
    background-color: #3b5998;
}

.bg-instagram {
    background-color: #e1306c;
}

.bg-pinterest {
    background-color: #bd081c;
}

.bg-youtube {
    background-color: #ff0000;
}

@media screen and (min-width: 768px) {
    .recipe_revelant_content div {
        text-align: center;
        margin-bottom: 0;
    }
}

.table_revelant {
    display: none;
}

.recipe_nutrimental_content {
    background-color: #f1f4f8;
    padding: 16px;
}

.recipe_nutrimental_content td {
    background-color: #f1f4f8;
    border-bottom: 1px solid #d9e2ef;
}

.recipe_print_content {
    margin-top: 2rem;
}

.recipe_tags_content {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    .recipe_tags_content {
        margin-bottom: 0;
    }
}

.recipe_description_content {
    text-align: initial;
    margin: 3rem auto;
}

.recipe_ingredients_content {
    text-align: initial;
    margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
    .recipe_ingredients_content {
        margin-bottom: 0;
    }

}

.recipe_ingredients_content .line-through label {
    text-decoration: line-through;
}

.recipe_intructions_content {
    text-align: initial;
}

.recipe_intructions_content td span {
    margin-right: 1rem;
}

.recipe_relations_content {
    margin: 3.5rem auto 2rem;
}

/* Styles for search modal */
.tags_search_container {
    margin-top: 1.5rem;
}

.category_search_container {
    margin-top: 1.5rem;
}

@media print {

    /* Ocultar elementos que no quieres imprimir */
    .recipe_print_content,
    .navbar,
    .recipe_raiting_content,
    .container-fluid,
    .recipe_relations_content,
    .recipe_tags_content,
    nav,
    hr,
    footer {
        display: none;
    }

    /* Modificar estilos de algunos elementos */
    .recipe_author_content span,
    .recipe_created_content span,
    .recipe_ingredients_content,
    .recipe_ingredients_content h3,
    .recipe_intructions_content h3,
    .recipe_description_content {
        font-size: 12px;
    }

    .recipe_image {
        width: 50%;
        margin-top: 1rem;
        height: auto;
    }

    .recipe_description_content {
        margin: 12px auto;
    }

    .recipe_intructions_content {
        margin-top: 1rem;
        font-size: 12px;
    }

    .recipe_ingredients_content {
        margin-bottom: 0;
    }

    .recipe_nutrimental_content {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }

    .recipe_revelant_content {
        display: none;
    }

    .table_revelant {
        display: block;
        font-size: 12px;
    }

    /* Ajustar márgenes y paddings para impresión */
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        padding: 0;
    }
}

/* Styles for search modal */
#searchModal .modal-dialog .modal-body {
    padding: 1rem;
}

#searchModal .modal-dialog .modal-footer {
    padding: .5rem;
}

/* Style for search results page */
.loading {
    position: relative;
    background-color: rgb(211, 211, 211);
    z-index: 44;
    overflow: hidden;
}

.loading .placeholder {
    cursor: progress;
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-image: -moz-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    animation: loading 1s infinite;
    z-index: 45;
}

/* Styles for forms */
.just-validate-error-label {
    color: var(--primary-color);
    font-size: 12px;
    margin-top: 8px;
}

@keyframes loading {
    0% {
        left: -45%;
    }

    100% {
        left: 100%;
    }
}